@font-face {
    font-family:'FuturaLTBTLight';
    src: url('fonts/futura_light_bt-webfont.eot?') format('eot'),
         url('fonts/futura_light_bt-webfont.woff') format('woff'),
         url('fonts/futura_light_bt-webfont.ttf') format('truetype'),
         url('fonts/futura_light_bt-webfont.svg#webfontdDHkHvd3') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {background:url('img/motif.png') #191919;font-family:'FuturaLTBTLight';font-size:12px;}

.fullwidth {max-width:100%;}

h1,h2,h3,h4,h5,h6 {font-family:inherit;text-transform:uppercase;}
h1 {font-size:48px;color:#fff;}

a, a:hover {color:#ff1900;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#303030;} 
input:-moz-placeholder, textarea:-moz-placeholder {color:#303030;}

.mapClick {background:url('img/plan.jpg') no-repeat center center; width:100%;height:476px;}

/* Header */
.header {background:#191919;text-align:center;padding-top:25px;}
.header img {margin-bottom:15px;}
.header .menu {background:#fff;}
.header .menu a {color:#000;font-size:14px;text-transform:uppercase;padding:15px;display:inline-block;border-bottom:5px solid transparent;}
.header .menu a:hover, .header .menu a.active {border-color:#ff1900;}

/* Slider */
.swiper-slider {position:relative;overflow:hidden;margin-bottom:20px;border-top:1px solid #fff;}
.swiper-slider .swiper-slide {height:475px;background-size:cover;}
.swiper-pagination-bullet-active {background:#ff1900;}
.motif {background:url('img/motif.png');position:absolute;width:100%;height:100%;z-index:10;}

/* Estimation */
.estimation {width:320px;position:absolute;z-index:15;background:rgba(255,255,255,0.85);padding:15px;top:180px;right:50%;margin-right:-500px;}
.estimation h2 {font-size:30px;color:#ff1900;text-align:center;}
.estimation input, .estimation select {border:1px solid #303030;font-family:inherit;text-transform:uppercase;font-size:12px;margin-bottom:9px;}
.estimation button {width:100%;background:#303030;font-family:inherit;text-transform:uppercase;color:#fff;font-size:12px;margin:0;}
.estimation button:hover {background:#ff1900;}

/* Offres Ã  la une */
.offres-une {position:relative;padding-bottom:50px;}
.offres-une h1 {text-align:center;}
.offres-une h2 {text-align:center;color:#fff;font-size:24px;}
.swiper-offres {position:relative;overflow:hidden;margin-top:20px;}
.swiper-offres .swiper-slide {position:relative;overflow:hidden;padding:15px;box-sizing:border-box;}
.swiper-offres .swiper-slide:nth-child(2n+1) {background:rgba(255,255,255,0.10);}
.swiper-offres .swiper-slide img {width:100%;}
.swiper-offres .swiper-slide p {color:#fff;font-size:12px;line-height:15px;}
.swiper-button-prev {left:-60px;background-image:url('img/prev.svg');cursor:pointer;}
.swiper-button-next {right:-60px;background-image:url('img/next.svg');cursor:pointer;}

.type {position:absolute;background:#ff1900;text-align:center;text-transform:uppercase;color:#fff;top:35px;left:-120px;width:100%;-moz-transform:rotate(-40deg);-webkit-transform:rotate(-40deg);-o-transform:rotate(-40deg);-ms-transform:rotate(-40deg);transform:rotate(-40deg);-webkit-box-shadow:0px 6px 5px 1px rgba(0,0,0,0.59);-moz-box-shadow:0px 6px 5px 1px rgba(0,0,0,0.59);box-shadow:0px 6px 5px 1px rgba(0,0,0,0.59);}

/* Nos Offres */
.offres {margin-top:20px;}
.tabs dd > a, .tabs .tab-title > a {font-size:0.75rem;text-transform:uppercase;}
.nos-offres {position:relative;padding-bottom:50px;overflow:hidden;margin-top:20px;}
.nos-offres h1 {text-align:center;}
.nos-offres h2 {text-align:center;color:#fff;font-size:24px;}
.nos-offres .bien {padding:15px;box-sizing:border-box;width:calc(100%/3);float:left;}
.nos-offres .bien:hover {background:rgba(255,255,255,0.10);}
.nos-offres .bien img {width:100%;}
.nos-offres .bien p {color:#fff;font-size:12px;line-height:15px;}

.prix {color:#ff1900;font-size:24px;text-transform:uppercase;text-align:center;background:#fff;display:block;}

/* Offre */
.offre {margin-top:20px;}
.photo-principale img {width:100%;}
.vignettes {margin-left:0;}
.vignettes li {list-style-type:none;float:left;width:calc((100% - 10px)/3);box-sizing:border-box;margin:5px 0;}
.vignettes li:nth-child(2n) {margin:5px;}

.swiper-vignettes {overflow:hidden;}
.vignettes-next, .vignettes-prev {margin-top:105px;}
.vignettes-next {right:-15px;}
.vignettes-prev {left:-15px;}

.offre p {color:#fff;line-height:1.2;}
.offre h4 {color:#ff1900;margin-bottom:0;}
.offre .prix {clear:both;margin-bottom:20px;}

/* ActualitÃ© */
.actualite {margin-top:20px;}
.actualite ul {margin-left:0;}
.actualite li {list-style-type:none;padding-bottom:20px;}
.actualite p, .actualite h4 {color:#fff;}
.actualite p {line-height:1;}
.actualite h4 {margin-bottom:0;}
.actualite h5 {color:#ff1900;margin-top:0;}

/* Livre d'or */
.livre-or {margin-top:20px;}
.livre-or ul {margin-left:0;}
.livre-or li {list-style-type:none;padding-bottom:20px;}
.livre-or p {color:#fff;}
.livre-or p.citation:before {content:'â€œ';}
.livre-or p.citation:after {content:'â€�';}
.livre-or p.signature {text-align:right;}
.livre-or p.signature_gauche {text-align:left;}

/* Contact */
#map-canvas {width:100%;height:476px;margin-bottom:20px;}
.contact form button {background:#ff1900;text-transform:uppercase;font-size:0.75rem;}
.contact form textarea {resize:none;}
.contact .coordonnees h3, .contact .coordonnees p {color:#fff;}

/* Mentions lÃ©gales */
.mentions-legales {margin-top:20px;color:#fff;}
.mentions-legales h3 {color:#fff;}
.mentions-legales p {line-height:1.2;}

/* Newsletter */
.newsletter input[type='email'] {float:left;width:85%;background:#191919!important;border-color:#191919;border-right-color:#fff;color:#fff;}
.newsletter button {float:right;width:15%;padding: 0.7rem 2rem 0.7rem 2rem;background:#191919!important;text-transform:uppercase;font-size:0.75rem;}
.newsletter button:hover, .newsletter button:focus {background:#ff1900!important;}
.newsletter input::-webkit-input-placeholder {color:#fff;} 
.newsletter input:-moz-placeholder {color:#fff;}

/* Footer */
.footer {background:#fff;padding-top:20px;}
.footer .row {margin:0 auto;max-width:62.5rem;width:100%;}
.footer ul {margin:0;list-style-type:none;}
.footer .actualites h2 {font-size:48px;}
.footer .actualites h4 {margin:0;}
.footer .actualites h4, .footer .actualites p {font-size:14px;line-height:16px;}
.footer .links {font-size:14px;padding-top:80px;border-left:1px solid #161616;}
.footer .links a {display:block;color:#161616;}
.footer .links a:hover {color:#ff1900;}

/***********************************************************************/
#formulaire .erreur {
	border:		2px solid #FF1900;
}

.pointer {
	cursor : pointer;
}

.left-off-canvas-toggle {display:none;}
.left-off-canvas-menu ul {list-style-type:none;margin-right:1.1rem; }
.left-off-canvas-menu ul li {border-bottom:1px dotted #545454;text-transform:uppercase;padding:0 1rem;display:block;}
.left-off-canvas-menu ul li:first-child {margin-top:1rem;}

/* Responsive */
@media only screen and (max-width: 48.063em) {

	}

@media only screen and (max-width: 40.063em) {
	.header {display:none;}
	.mapcanvas{display: none;}
	.left-off-canvas-toggle {padding:0.5rem;display:block;}
	.left-off-canvas-menu {background:#000;}
	.nos-offres .bien {padding:15px;box-sizing:border-box;width:100%;float:left;}
	.estimation {display:none;}
}

@media only screen and (max-width: 30.063em) {
	.mapcanvas{display: none;}
}

@media only screen and (max-width: 20.063em) {
	.mapcanvas{display: none;}
}
/* Fin Responsive */

